.h1 {
  text-align: center;
}
/*------------------------------------ <angle> */
.angle img {
  width: 450px;
  height: 170px;
}
.rotate {
  display: flex;
  justify-content: center;
}
.shape {
  background-color: coral;
  height: 50px;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.transform1 {
  transform: rotate(45deg);
}
.transform2 {
  transform: rotate(3.1416rad);
}
.transform3 {
  transform: rotate(-50grad);
}
.transform4 {
  transform: rotate(1.75turn);
}

/*------------------------------------ length-percentage */
.length-percentage p {
  /* length-percentage examples */
  width: 75%;
  height: 200px;
  margin: 3rem;
  padding: 1%;
  border-radius: 10px 10%;
  font-size: 250%;
  line-height: 1.5em;

  /* length examples */
  text-shadow: 1px 1px 1px red;
  border: 5px solid red;
  letter-spacing: 3px;

  /* percentage example */
  text-size-adjust: 20%;
}
/*------------------------------------ calc() */
#formbox input {
  padding: 2px;
  display: block;
  width: calc(100% - 1em);
}

#formbox {
  width: calc(100% / 6);
  border: 1px solid black;
  padding: 4px;
}

/*------------------------------------ clamp() */
.clamp p {
  font-size: max(1.2rem, 1.2vw);
}
/*------------------------------------ min() & max() */
.minmax h1 {
  font-size: 2rem;
}
.responsive {
  font-size: max(4vw, 2em, 2rem);
}
/* ------------------------------------resolution */
.resolution {
  display: flex;
  justify-content: center;
}
