.h1{
  text-align: center;
}
.ani_n_tran_overall a{
  text-decoration: none;
  color: black;
}
.ani_n_tran_overall a:hover{
  color: rgb(10, 159, 245);
}
/* ------------------------------------------------::after and ::before */
.exciting-text::after {
  content: " <- EXCITING!";
  color: green;
}
.before-text::before {
  content: "♥";
}
.boring-text::after {
  content: " <- BORING";
  color: red;
}
.decoration {
  background-color: #5bc8f7;
  width: max-content;
}
.decoration::after {
  content: "This is a fancy orange box.";
  background-color: #ffba10;
  border-color: black;
  border-style: dotted;
}
span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: #00f;
  cursor: help;
}

/* ------------ todolist example */
.todolist .bofore_ex_li {
  list-style-type: none;
  position: relative;
  margin: 2px;
  padding: 0.5em 0.5em 0.5em 2em;
  background: lightgrey;
  font-family: sans-serif;
  width: 200px;
}
.todolist .bofore_ex_li.done {
  background: #ccff99;
}
.todolist .bofore_ex_li.done::before {
  content: "";
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}
/* attr(): display the custom tooltips with pseudo elements */
span[data-descr]:hover::after,
span[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}
/* ------------------------------------------------ Keyframes */
.keyframes_square {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: mymove 5s infinite;
}
/* The !important rule is ignored in a keyframe. */
@keyframes mymove {
  from {
    left: 0px;
  }
  50% {
    top: 100px !important;
  } /* ignored */
  to {
    left: 200px;
  }
}
/* ------------ add click button  */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.changing {
  animation: colorchange 2s;
}
@keyframes colorchange {
  0% {
    background: yellow;
  }
  100% {
    background: blue;
  }
}
.runButton {
  cursor: pointer;
  width: 300px;
  border: 1px solid black;
  text-align: center;
  margin-top: 12px;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  font: 14px "Open Sans", "Arial", sans-serif;
}
/* ------------------------------------------------ Animation */
.view_port{
  margin: 0 auto;
}
.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
}
.view_port {
  background-color: black;
  height: 25px;
  width: 50%;
  overflow: hidden;
}
/* shape of cylon */
.cylon_eye {
  background-color: red;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  color: white;
  height: 100%;
  width: 20%;
  animation: 2s linear 0s infinite alternate move_eye;
}
/* let it move */
@keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 80%;
  }
}
/* ------------------------------------------------ Transitions */
.transitions{
  display: flex; 
  justify-content: center; 
  margin-bottom: 50px;
}
.transitions_ex {
  font-size: 14px;
  /* property name | duration | easing function | delay */
  transition: font-size 4s 1s;
}
.transitions_ex:hover {
  font-size: 36px;
}
