.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
}
.view_port {
  background-color: black;
  height: 25px;
  width: 50%;
  overflow: hidden;
}
/* shape of cylon */
.cylon_eye {
  background-color: red;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  color: white;
  height: 100%;
  width: 20%;
  animation: 2s linear 0s infinite alternate move_eye;
}
/* let it move */
@keyframes move_eye {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 80%;
  }
}
