.h1{
  text-align: center;
}
.overall a{
  text-decoration: none;
  color: black;
}
.overall a:hover{
  color: rgb(10, 159, 245);
}
.overall,.back_ground_mode,.isolate,.mix_blend_mode{
  display: flex;
  justify-content: center;
}
/* ----------------------------------------- background blend mode */
#back_img {
  width: 500px;
  height: 300px;
  background-blend-mode: screen;
  background: url("love.jpg"), url("swan.jpg");
}
/* ----------------------------------------- isolation */
.all {
  background-color: pink;
  width: 200px;
  height: 220px;
}
.control {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  padding: 2px;
  mix-blend-mode: difference;
}
/* ----------------------------------------- mix blend mode */
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  mix-blend-mode: screen;
  position: absolute;
}
.circle-1 {
  background: red;
  left: 460px;
}

.circle-2 {
  background: lightgreen;
  left: 540px;
}

.circle-3 {
  background: blue;
  left: 510px;
  top: 1050px;
}
.div_circle {
  width: 400px;
  height: 300px;

  isolation: isolate; /* Without isolation, the background color will be taken into account */
}
