/* 2. initial */
.initial_p {
  color: red;
}
.initial_p em {
  color: initial;
}
/* 3. inherit */
.inherit_p {
  color: blue;
}
.inherit_p em {
  color: inherit;
}
/* 4. unset & revert */
.unset,
.revert {
  font-weight: normal;
  color: blue;
}
