/* ------------------------------------------overall */
.overall a {
  text-decoration: none;
}
h2 {
  color: red;
}

/* ------------------------------------------grid */
.grid {
  display: grid;
  /*          row 间距 */
  grid: repeat(2, 60px) / auto-flow 80px;
}
.grid div {
  background-color: #8ca0ff;
  width: 50px;
  height: 50px;
  /* margin: 10px; */
}
/* ------------------------------------------alignment in grid */
.align_ul span {
  color: blue;
}
.alignment > img {
  width: 50%;
  height: 50%;
}
.alignment_ex1 {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  width: 50%;
}
.alignment_ex1 > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.alignment_ex1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
  /* align-content: end; */
  /* align-content: space-between; */
  /* justify-content: space-around; */
}
.alignment_item1 {
  grid-area: a;
  align-self: end;
  /* margin-left: auto; */
}
.alignment_item2 {
  grid-area: b;
  align-self: center;
}
.alignment_item3 {
  grid-area: c;
}
.alignment_item4 {
  grid-area: d;
  justify-self: center;
}

/* ------------------------------------------grid-area */
.grid_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /*div 与div之间的gap（上下左右）*/
  grid-auto-rows: minmax(100px, auto); /*height:100px;*/
}
.grid_layout div {
  background-color: greenyellow;
  opacity: 0.5;
}
.one {
  /*左右*/
  grid-column: 1 / 3; /*从第一个格到大二个格*/
  /*上下*/
  grid-row: 1; /*一个格*/
}
.two {
  grid-column: 2 / 4; /*第二个格到第三个格*/
  grid-row: 1 / 3; /*从第一个到第二个格*/
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
/* #3 */
* {
  box-sizing: border-box;
}

.media {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  max-width: 400px;
}
.media {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "img content";
  margin-bottom: 1em;
}
.media.flipped {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "content img";
}
.media .image {
  grid-area: img;
  background-color: #ffd8a8;
}
.media .text {
  grid-area: content;
  padding: 10px;
}
/* #4 */
.named_grid_line_all {
  /* display: flex;
  justify-content: space-between; */
}
/* #4-1 */
.named_grid_line div {
  background-color: burlywood;
}
.named_grid_line {
  display: grid;
  gap: 10px;
  grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];
  grid-template-rows: [main-start] 100px [content-start] 100px [content-end] 100px [main-end];
}
.named_grid_line .box1 {
  grid-column-start: main-start;
  grid-row-start: main-start;
  grid-row-end: main-end;
}
.named_grid_line .box2 {
  grid-column-start: content-end;
  grid-row-start: main-start;
  grid-row-end: content-end;
}
.named_grid_line .box3 {
  grid-column-start: content-start;
  grid-row-start: main-start;
}
.named_grid_line .box4 {
  grid-column-start: content-start;
  grid-column-end: main-end;
  grid-row-start: content-end;
}
/* #4-2 overlay*/
.overlay_grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hd hd hd hd   hd   hd   hd   hd   hd"
    "sd sd sd main main main main main main"
    "ft ft ft ft   ft   ft   ft   ft   ft";
}
.overlay_grid div {
  background-color: rgb(203, 222, 135);
}
.overlay_grid .header {
  grid-area: hd;
}
.overlay_grid .footer {
  grid-area: ft;
}
.overlay_grid .content {
  grid-area: main;
}
.overlay_grid .sidebar {
  grid-area: sd;
}
.overlay_grid > div.overlay {
  z-index: 10; /*overlay*/
  grid-column: main-start / main-end;
  grid-row: hd-start / ft-end;
  border: 4px solid rgb(92, 148, 13);
  background-color: rgba(92, 148, 13, 0.4);
  color: rgb(92, 148, 13);
  font-size: 150%;
}

/* ------------------------------------------grid-auto-columns */
.columns {
  height: 100px;
  display: grid;
  grid-template-areas: "a b";
  gap: 10px;
  grid-auto-columns: 300px;
  grid-auto-rows: 50px;
}
.columns > div {
  background-color: lime;
}
/* ------------------------------------------grid-auto-flow */
.grid-auto-flow {
  display: flex;
  justify-content: flex-start;
  border: 0.5px solid gray;
}
.first_flow,
.second_flow {
  margin: 30px;
}
.second_flow {
  align-self: center;
}
.select_option {
  margin: 10px;
}
#flow {
  height: 200px;
  width: 200px;
  display: grid;
  gap: 10px;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column; /* or 'row', 'row dense', 'column dense' */
}
#item1 {
  background-color: lime;
  grid-row-start: 3;
}
#item2 {
  background-color: yellow;
}
#item3 {
  background-color: blue;
}
#item4 {
  grid-column-start: 2;
  background-color: red;
}
#item5 {
  background-color: aqua;
}
/* ------------------------------------------grid-column */
.grid-column img {
  height: 200px;
  width: 430px;
}
.grid-column {
  display: flex;
  justify-content: center;
}

/* ------------------------------------------grid-templete */
/* #1 */
#page {
  display: grid;
  width: 70%;
  height: 200px;
  grid-template:
    [header-left] "head head" 30px [header-right]
    [main-left] "nav  main" 1fr [main-right]
    [footer-left] "nav  foot" 30px [footer-right]
    / 120px 1fr;
}
#page header {
  background-color: lime;
  grid-area: head;
}
#page nav {
  background-color: lightblue;
  grid-area: nav;
}
#page main {
  background-color: yellow;
  grid-area: main;
}
#page footer {
  background-color: red;
  grid-area: foot;
}
/* #2 */
.grid-template2 {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
}
.grid-template2 div {
  background-color: rgb(250, 169, 210);
}
/* ------------------------------------------grid-area */
.grid-area {
  display: flex;
  justify-content: center;
}
.grid-area img {
  height: 200px;
  width: 200px;
  margin: 30px;
}
/* ------------------------------------------overall-examples #1 */
/* --------overall layout */
.overall_example1 {
  width: 500px;
  overflow: scroll;
}
.example1 > div {
  background-color: orange;
  text-align: center;
  border-radius: 5px;
}
.example1 {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  display: grid;
  gap: 10px;
}
/* #1--------横排 */
.example1 {
  /* grid-template-columns: repeat(3, 1fr);*/ /*横排*/
  /* grid-auto-rows: 100px; */ /*height:100px*/
  /* grid-auto-rows: minmax(100px, auto); */ /*min height:100px,max height is auto*/
  /* grid-auto-rows: 100px 200px;*/ /*repeat 100px,200px,100px.....*/
}
/* #2--------竖排 */
.example1 {
  /* grid-template-rows: repeat(3, 200px); */
  /* grid-auto-flow: column; */ /*竖排*/
  /* grid-auto-columns: 300px 100px; */
}
/* #3--------order of grid*/
.example1 {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: dense; /*Filling in the gaps*/
}
.example1 div:nth-child(2) {
  grid-column: 3;
  grid-row: 2 / 4;
}
.example1 div:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.example1 div:nth-child(4n + 1) {
  /* 1st, 5th, 9th elements */
  background-color: green;
  grid-column-end: span 2;
  grid-row-end: span 2;
}
/* ------------------------------------------overall-examples #2 */
.example2 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overall_example2 {
  width: 90%;
  max-width: 400px;
  border: 1px solid #4d4e53;
  border-radius: 2px;
  padding: 10px 14px 10px 10px;
  margin-bottom: 10px;
}
.example2 {
  list-style: none;
  display: grid;
  gap: 10px;
}
/* #1-------- */
.example2 {
  grid-template-columns: repeat(auto-fill, minmax(79px, 1fr));
  grid-auto-flow: dense;
}
.example2 li.landscape {
  grid-column-end: span 2;
}
/* ------------------------------------------overall-examples #3 */
.overall-example3 {
  border: 0.5px solid gray;
  width: 300px;
  height: auto;
}
dl {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 300px;
  margin: 1em;
  line-height: 1.4;
}
dt {
  grid-column: 1;
  font-weight: bold;
}
dd {
  grid-column: 2;
}
/* ------------------------------------------Mixed writing modes and grid layout */
.mixed_mode {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto;
  width: 60%;
}
.mixed_mode nav {
  writing-mode: vertical-lr;
}
.mixed_mode ul {
  list-style: none;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.mixed_mode a {
  text-decoration: none;
}
