.h1 {
  text-align: center;
}
.overall a {
  text-decoration: none;
  color: black;
}
.overall a:hover {
  color: rgb(10, 159, 245);
}
.overall,
.rect,
.region_btn,
.radius_p,
.clamp_div,
.scrolling,
.stroke_div,
.first_node {
  display: flex;
  justify-content: center;
}

/* 1. rect */
#rect_container {
  width: 267px;
  height: 272px;
  position: absolute;
  font-size: 16px;
  text-shadow: white 0px 0px 6px;
  text-align: center;
}
#box1 {
  background-image: -moz-image-rect(url(city.jpg), 0%, 50%, 50%, 0%);
  width: 133px;
  height: 136px;
  position: absolute;
}
#box2 {
  background-image: -moz-image-rect(url(city.jpg), 0%, 100%, 50%, 50%);
  width: 133px;
  height: 136px;
  position: absolute;
}
#box3 {
  background-image: -moz-image-rect(url(city.jpg), 50%, 50%, 100%, 0%);
  width: 133px;
  height: 136px;
  position: absolute;
}
#box4 {
  background-image: -moz-image-rect(url(city.jpg), 50%, 100%, 100%, 50%);
  width: 133px;
  height: 136px;
  position: absolute;
}
/* 2.  */
.region {
  position: relative;
  top: 300px;
}
.region_button {
  list-style-image: url("city.jpg");
  -moz-image-region: rect(0px, 40px, 40px, 0px);
}
/* 3.  */
.radius {
  position: relative;
  top: 400px;
}
.outline-radius {
  width: max-content;
  margin: 5px;
  border: 1px solid black;
  outline: dotted red;
  -moz-outline-radius: 12% 1em 25px;
}
/* 4.  */
.clamp {
  position: relative;
  top: 500px;
}
.clamp_p {
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/* 5 */
.overflow_scrolling {
  position: relative;
  top: 600px;
}
.overflow_scrolling p {
  width: 400px;
  background: #f5f9fa;
  border: 2px solid #eaf2f4;
  padding: 10px;
}
.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}
.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}
/* 6. */
.stroke {
  margin: 0;
  font-size: 4em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff0000;
}
/* 7. */
.first_node p span:-moz-first-node {
  background-color: lime;
}
.first_node p span:-moz-last-node {
  background-color: orange;
}
/* 8. */
.whitespace div:-moz-only-whitespace {
  border-color: lime;
}
