.h1 {
  text-align: center;
}
.overall a {
  text-decoration: none;
  color: black;
}
.overall a:hover {
  color: rgb(10, 159, 245);
}
.overall {
  display: flex;
  justify-content: center;
}
/* contain */
.contain {
  width: 500px;
  margin: 0 auto;
  background-color: azure;
}
.contain_img {
  width: 100px;
  height: 100px;
  float: right;
  border: 3px solid black;
}

article {
  border: 1px solid black;
  contain: content; /*put all inside of the <article>*/
}
article > * {
  margin: 20px;
}
/* content visibility */
.content_visibility {
  /* content-visibility: hidden; */
}
