.h1 {
  text-align: center;
}
/* writing-mode */

.table {
  border: 1px solid black;
}

.example.Text1 span,
.example.Text1 {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}
.example.Text2 span,
.example.Text2 {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
.example.Text3 span,
.example.Text3 {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}
.example.Text4 span,
.example.Text4 {
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;
}
.example.Text5 span,
.example.Text5 {
  writing-mode: sideways-rl;
  -webkit-writing-mode: sideways-rl;
  -ms-writing-mode: sideways-rl;
}

/* text-combine-upright */
.text-combine-upright {
  writing-mode: vertical-lr;
  text-combine-upright: digits 2;
  font: 36px serif;
}
/* text-orientation */
.text-orientation {
  height: 200px;
  overflow: scroll;
}
.text-orientation p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
