/* align-item */

section {
  width: 50%;
  max-width: 700px;
  border: 1px solid #4d4e53;
  border-radius: 2px;
  padding: 10px 14px 10px 10px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  align-items: flex-start;
  height: 200px;
}
.box {
  width: 400px;
  border: 2px dotted rgb(96, 139, 168);
}
.box > * {
  padding: 20px;
  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, 0.2);
}
.box > *:first-child {
  align-self: stretch;
}
.box .selected {
  align-self: center;
}
.box > *:last-child {
  align-self: flex-end;
}
