
.h1{
  text-align: center;
}
.overall a{
  text-decoration: none;
  color: black;
}
.overall a:hover{
  color: rgb(10, 159, 245);
}
.overall,.enterColorName{
  display: flex;
  justify-content: center;
}
/*  */
.all_circle {
  display: flex;
}

.container {
  position: relative;
  width: 50%;
}
/* circle 1 */
.circle {
  height: 200px;
  width: 200px;
  background-color: #d6d5cf;
  border-radius: 50%;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00ff00;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(214, 122, 127);
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}
.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(30, 100%, 50%);
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}
.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(30, 100%, 50%, 0.3);
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}
.overlay5 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rebeccapurple;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}
.container:hover .overlay1,
.container:hover .overlay2,
.container:hover .overlay3,
.container:hover .overlay4,
.container:hover .overlay5 {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*  */
.enter_color {
  width: 100%;
  height: 200px;
}