.h1{
  text-align: center;
}
.overall a{
  text-decoration: none;
  color: black;
}
.overall a:hover{
  color: rgb(10, 159, 245);
}
.overall,.color_scheme,.forced_color_adjust{
  display: flex;
  justify-content: center;
}
/* ----------------------------------- color adjust */
.color_adjust {
  background-color: black;
  background-image: linear-gradient(
    rgba(0, 0, 180, 0.5),
    rgba(152, 183, 219, 0.5)
  );
  color: white;
  font: 24px "Helvetica", sans-serif;
  width: 15rem;
  height: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color-adjust: exact; /*to tell the browser not to make color or style adjustments to the box when rendering it.*/
  /*color-adjust: economy*/
}
/* 3. forced color adjust */
.box {
  border: 5px solid grey;
  background-color: #ccc;
  width: 300px;
  margin: 20px;
  padding: 10px;
}
@media (forced-colors: active) {
  .forced {
    forced-color-adjust: none;
  }
}
